<h1>Books</h1>
<p class="index-p"><b>Title</b></p>
<p class="index-p"><b>Body</b></p>
<div>
  <% @books.each do |book| %>
    <ul>
      <li><%= book.title %></li>
      <li><%= book.body %></li>
    </ul>
    <div class="index-list">
      <ul>
        <li><%= link_to "Show", book_path(book.id) %></li>
        <li><%= link_to "Edit", edit_book_path(book.id) %></li>
        <li><%= link_to "Destroy", book_path(book.id),method: :delete,"data-confirm" => "Are you sure?" %></li>
    </ul>
    </div>
  <% end %>
</div>


