<div><%= flash[:notice] %></div>
<div><%= flash[:success] %></div>
<p>Title:<%= @book.title %></p>
<p>Body:<%= @book.body %></p>
<span><%= link_to "Edit",edit_book_path(@book.id) %>|<%= link_to "Back", books_path %></span>